{
	"presets": ["@babel/preset-env", "@babel/preset-react", "next/babel"],
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		"add-react-displayname",
		[
			"module-resolver",
			{
				"root": ["."],
				"alias": {
					"@hooks": "./src/hooks",
					"@recoil": "./src/app/recoil",
					"@components": "./src/components",
					"@dashboard": "./src/components/Dashboard",
					"@website": "./src/components/Website",
					"@common": "./src/components/Common"
				}
			}
		]
	]
}
